body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.grid{
    width: 560px;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.grid div{
    height: 70px;
    width: 70px;
}